<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Todo</h1>
    <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <label for="create">Todo name</label>
    <input type="text" name="todo" id="todo">
    <button type="submit">Submit</button>
    </form>
</body>
<a href="{% url 'index' %}"><button>Back to home</button></a>
</html>