<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if todo %}
        <p> {{todo.name}} </p>
        <a href="{% url 'update' todo.id %}"><button>Update</button></a>
        <form action="{% url 'delete' todo.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
        </form>
    {% endif %}
</body>
</html>