<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of all todo</h1>
   {% if todo %}
   {% for i in todo %}
   <p>{{i.name}}</p>
   <a href="{% url 'detail' i.id %}">See detail</a>
   {% endfor %}
   {% endif %}
   <br>
   <br>
   <a href="{% url 'create' %}"><button>create todo</button></a>
</body>
</html>