<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Todo now:</p>
    {% if todo %}
        <p> {{todo.name}} </p>
    <form action="{% url 'update' todo.id %}" method="post">
    {% csrf_token %}
    <label for="todo">Update your todo</label>
    <input type="text" name="todo" id="todo">
    <button type="submit">Submit</button>
    </form>
    {% endif %}

</body>
</html>